/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}

img{
    width: 40px;
    height:30px;
    object-fit:fill;
    margin:5px;
    padding:5px;
}
a{
    font-family:'Raleway'; 
}
.nav{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
}

.logo_container{
    float:left;
    justify-content: center;
}

.navigation_link_container{
    display: flex;
    float: right;
    margin: 10px;
    justify-content:center;
    flex-direction: row;
}
.item_link{
    margin:20px;
}
a:hover{
    text-decoration: overline #0065FC;
    color: #0065FC;
}
.sub-title{
    font-size:15px;
    margin:4px;
}
.search-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.search_form {
    display: flex;
    flex-direction:row;
    margin:10px 10px 10px 0px;
}
.search_label{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color:#F2F2F2;
    width:50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_input{
    font-size:15px;
    font-weight:bold;
    color:rgb(0, 0, 0);
    height:50px;
    width:200px;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px #F2F2F2 solid;
    border-bottom:1px #F2F2F2 solid ;
}
.search_button{
    border-top-right-radius:10%;
    border-bottom-right-radius:10%;
    border-width: 0px;
    background-color:#0065FC;
    height:50px;
    width:120px;
    font-size:15px;
    font-weight:bolder;
    color:blanchedalmond;
}
.filtered{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:center;
    margin:5px;
    font-size:15px;
    font-weight:bolder;
}
.filtered-title{
    height:50px;
    width: 50px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    margin:5px;
}
  .filtered-btn{
    border:3px #F2F2F2 solid;
    border-radius:50px;
    padding:0.5em 1em ;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    margin:5px;
}
.filtered-btn:hover{
    background-color:#DEEBFF;
}
.filtered-btn i{
    margin-right:10px;
}
.sub-title-h{
    font-size:15px;
    margin:20px 20px 20px 0px;
}
#search_input{
padding-left:30px;
}


.hebergements{
    display: flex;
    flex-direction:column;
}
.hebergements-title{
    width:100%;
    margin-bottom:20px;
   }
   .hebergement-cards{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-bottom:20px;
   }
    
.card-hebergement-content{
    background-color: white;
    border-radius: 20px;
    width:30%;
    height:260px;
    margin-bottom: 20px;
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    flex-wrap: wrap;
    box-shadow:0px 3px 15px rgba(0, 0, 0, 0.1);;
    }
  .card-hebergement-content img{
    width: 95%;
    height:155px;
    border-top-right-radius:20px;
    border-top-left-radius:20px; 
    object-fit:cover;
    margin:2px;

}
.card-hebergement-txt{
    display: flex;
    flex-direction:column;
    justify-content:start;
    margin-left:20px;
}

.card-hebergement-title {
    font-size: 16px;
    margin-top:3px;
    margin-bottom:7px;
  }
.card-hebergement-subtitle{
    margin:2px;
}
.card-h-rating{
   margin-left:20px;
   margin-bottom:0px;
}
.hebergement-subtitle{
    font-size: 19px;
    font-weight: bolder;
}
.activities{
    display: flex;
    flex-direction:column;
    border:2px solid transparent;
    width:97%;
    height:520px;
    margin-top:30px;
    margin-left:5px;
    }
.activities-title{
    margin: 30px;
}
.card-activities{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card-activitie-content{
width:23%;
height:470px;
display: flex;
flex-direction:column;
flex-wrap:wrap;
border-radius:20px;
box-shadow:0px 3px 15px rgba(0, 0, 0, 0.1);
}
.card-activitie-content img{
    width:100%;
    height:400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    display: flex;
    padding:0px;
    margin: 0px;
    box-shadow:0px 3px 15px rgba(0, 0, 0, 0.1);
}
.card-activitie-title{
height:0px;
margin-bottom:15px;
margin-left:25px;
border-bottom-left-radius:20px;
border-top-right-radius:20;
}
.footer{
    background-color: var(--main-bg-color);
    width:100%;
    height:200px;
    margin-top:100px;
    margin-bottom:0PX;
}